* {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  position: relative;
  height: 50px;
}
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
.menu_link:hover {
  text-decoration: none;
  color: #ff5656;
}
.menu_item {
  border-right: 2px dotted rgba(255, 255, 255, 0.2);
  padding-right: 28px;
}
.menu_item:nth-last-child(-n + 1) {
  border-right: none;
  padding-right: 0;
}
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #ff5656 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #ff5656;
}
.gamburger {
  display: none;
}
.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo_subheader {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #ff5656 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #ff5656;
}
.label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
  margin-top: 1px;
}
.label_white {
  background-color: #fff;
  color: #000;
}
.label_min {
  width: 76px;
}
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.title_white {
  color: #fff;
}
.subtitle {
  position: relative;
  margin-top: 8px;
  color: #222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}
.subtitle_white {
  color: #fff;
}
.reasons {
  padding: 71px 0 65px 0;
}
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #ff5656;
  border-radius: 100%;
}
.reasons_descr {
  width: 343px;
}
.reasons_subtitle {
  line-height: 21px;
  color: #ff5656;
  font-size: 17px;
  font-weight: 400;
}
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
.mobile {
  min-height: 864px;
  padding: 48px 0 79px;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 91px;
  margin-right: 67px;
  position: relative;
}
.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.jpg");
}
.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.jpg");
}
.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.jpg");
}
.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.jpg");
}
.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.jpg");
}
.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.jpg");
}
.mobile_item_7 {
  background: url("../img/bg/mobile_screen_7.jpg");
}
.mobile_item_subtitle {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.mobile_item_plus {
  position: absolute;
  top: 225px;
  left: 153px;
  display: flex;
  justify-content: center;
  height: 29px;
  width: 29px;
  background: #000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
}
.mobile_item_plus:before {
  position: absolute;
  top: 47%;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #ff5656;
}
.mobile_item_plus:after {
  position: absolute;
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #ff5656;
  transition: all 0.5s ease-in;
}
.mobile_item_plus:hover::before,
.mobile_item_plus:hover::after {
  background-color: #ff5656;
  -webkit-transform: rotate(180deg);
}
.choise {
  padding-top: 56px;
  min-height: 898px;
  position: relative;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat;
  z-index: -2;
}
.choise_black {
  position: absolute;
  width: 100%;
  top: -56px;
  height: 502px;
  background-color: #000;
  z-index: -1;
}
.choise .label {
  background-color: #fff;
  color: #000;
}
.choise .title {
  color: #ff5656;
}
.choise .subtitle {
  color: #ff5656;
}
.choise .under_title {
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  max-width: 327px;
  text-align: center;
}
.choise_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
.conditions {
  padding: 66px 0 87px;
}
.conditions ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 50px;
  margin-top: 22px;
}
.conditions ul li {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}
.conditions ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: -33px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.svg") center center/cover no-repeat;
}
.conditions_1 {
  margin-top: 33px;
  max-width: 498px;
}
.conditions_1 .conditions_title {
  color: #ff5656;
}
.conditions_1_subtitle {
  color: #ff5656;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}
.conditions_2 {
  margin-top: 37px;
  max-width: 498px;
}
.conditions_2 .conditions_title {
  color: #ff5656;
}
.conditions_3 .conditions_title,
.conditions_4 .conditions_title {
  color: #ff5656;
  margin-top: 61px;
  max-width: 498px;
}
.conditions_3 ul li,
.conditions_4 ul li {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}
.conditions_3 ul li::before,
.conditions_4 ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: -33px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_red.svg") center center/cover no-repeat;
}
.map {
  background: url("../img/bg/map.jpg") center center/cover no-repeat;
  height: 720px;
  padding: 51px 0 22px;
  position: relative;
}
.map .label {
  background-color: #fff;
  color: #000;
}
.map .title,
.map .subtitle {
  color: #fff;
}
.map .link_watch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 15px;
  bottom: 50px;
  text-transform: uppercase;
}
.map .link_watch a {
  text-decoration: none;
  color: #ff5656;
}
.footer {
  height: 159px;
}
.footer_wrapper {
  padding: 51px 0 44px;
  position: relative;
}
.footer_wrapper:before {
  position: absolute;
  left: 50%;
  top: 11px;
  transform: translateX(-50%);
  content: "";
  width: 301px;
  height: 7px;
  background: #ff5656;
}
.footer_wrapper .row {
  margin: 0;
}
.footer_wrapper_icons {
  display: flex;
}
.footer_wrapper_icons .img-wrapper {
  margin-right: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #000;
  border-radius: 100%;
  padding: 8px;
  text-decoration: none;
}
.footer_wrapper_icons .img-wrapper span {
  color: #fff;
}
.footer_wrapper_text {
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}
.footer_wrapper_text .main_text {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}
.footer_wrapper_text .main_text .navigation {
  margin: 0 21px;
  margin-right: 0 21px;
  font-weight: 300;
  font-size: 15px;
}
.footer_wrapper_text .main_text .navigation a {
  text-decoration: none;
  color: #000;
}
.footer_wrapper_text .subtitle_text {
  display: flex;
  justify-content: center;
}
.footer_wrapper_text .subtitle_text .navigation2 {
  margin: 0;
  margin: 0 11px;
  font-weight: 300;
  font-size: 11px;
  color: #999;
}
.footer_wrapper_text .subtitle_text .navigation2 a {
  text-decoration: none;
  color: #999;
}
.footer_wrapper_text .language {
  text-align: center;
  margin-top: 18px;
  color: #ff5656;
  font-weight: 400;
  font-size: 11px;
}
.footer_wrapper_app {
  display: flex;
  justify-content: flex-end;
  padding-right: 22px;
}
.footer_wrapper_app .app-wrapper {
  margin-right: 8px;
}
.footer_wrapper_app .app-wrapper:nth-last-child(-n + 1) {
  margin-right: 0;
}
.footer_wrapper .col-md-4:nth-last-child(-n + 1) {
  padding-left: 0;
}
.xs-visible {
  display: none;
}
@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    line-height: 45px;
  }
  .reasons_block {
    align-items: flex-start;
  }
  .reasons_block_descr {
    max-width: 300px;
  }
  .mobile_item {
    width: 298px;
    height: 272px;
  }
  .mobile_item_subtitle {
    font-size: 22px;
  }
  .mobile_item_plus {
    left: 133px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 12px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_call {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 92px;
    height: 30px;
    font-size: 10px;
    margin-top: 25px;
  }
  .subheader_btn:hover {
    background-image: linear-gradient(to top, #ff5656 0%, #4ce2ff 100%);
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    line-height: 30px;
    line-height: 45px;
  }
  .promo_btn:hover {
    background-image: linear-gradient(to top, #ff5656 0%, #4ce2ff 100%);
  }
  .reasons .title {
    font-size: 30px;
  }
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  .reasons_descr {
    margin-top: 21px;
  }
  .mobile_item {
    width: 220px;
    height: 220px;
    padding-top: 50px;
  }
  .mobile_item_subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .mobile_item_plus {
    top: 167px;
    left: 96px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.6s ease-in;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    border: 0;
    padding-right: 0;
    margin: 20px 0;
  }
  .menu_link {
    font-size: 20px;
    display: block;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_call {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 18px;
    margin-top: 20px;
  }
  .subheader_btn {
    width: 60%;
    float: right;
    height: 30px;
    font-size: 10px;
    margin-top: 10px;
  }
  .choise_wrapper img {
    width: 100%;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 40%;
    width: 26px;
    height: 9px;
    height: 18px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    transition: all 0.5s ease;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
}
@media (max-width: 576px) {
  .subheader .xs-visible {
    margin-top: 15px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 22px;
  }
  .subheader_btn {
    width: 100%;
    height: 50%;
  }
  .subheader_phone {
    font-size: 13px;
  }
  .reasons {
    padding: 0;
  }
  .reasons .title {
    font-size: 16px;
    line-height: 16px;
  }
  .reasons_descr {
    width: 279px;
  }
  .reasons_round {
    margin: 0;
    width: 103px;
    height: 103px;
    margin-bottom: 24px 0 27px;
  }
  .mobile {
    paddin: 20px 0 43px;
  }
  .mobile .title {
    font-size: 16px;
    line-height: 16px;
    margin-top: 14px;
  }
  .mobile .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
  .mobile_item {
    padding: 80px 33px 123px 31px;
    width: 290px;
    height: 254px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .mobile_item_plus {
    top: 204px;
    left: 130px;
  }
  .choise {
    padding: 24px 0 31px;
    min-height: 393px;
  }
  .choise .title,
  .choise .subtitle {
    display: none;
  }
  .choise_black {
    height: 100%;
    top: 0;
  }
  .choise .under_title {
    margin-top: 23px;
    color: #ff5656;
  }
  .conditions {
    padding: 22px 0 30px;
  }
  .conditions .title {
    font-size: 16px;
    line-height: 16px;
  }
  .conditions .conditions_list {
    padding-left: 26px;
  }
  .conditions .conditions_list li {
    font-size: 14px;
    line-height: 16px;
  }
  .conditions .conditions_list li::before {
    left: -26px;
    top: 1px;
    width: 21px;
    height: 19px;
  }
  .map {
    padding: 24px 0 29px;
  }
  .map .title {
    font-size: 16px;
    line-height: 16px;
  }
  .map .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
  .map .link_watch {
    bottom: 29px;
    width: 222px;
    text-align: center;
  }
  .map .link_watch a {
    font-size: 15px;
    line-height: 15px;
  }
  .promo {
    min-height: 400px;
    padding: 131px 0 35px;
    margin-bottom: 20px;
  }
  .promo_header {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 34px;
    padding: 0 24px;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 77px;
    padding: 0 10px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 0;
  }
  .footer {
    min-height: 255px;
    padding: 0 18px 0 17px;
  }
  .footer_wrapper {
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .footer_wrapper::before {
    top: 25px;
    width: 253px;
    height: 4px;
  }
  .footer_wrapper .col-md-4 {
    padding: 0;
  }
  .footer_wrapper_text {
    margin-bottom: 16px;
    min-width: 285px;
  }
  .footer_wrapper_text .main_text {
    justify-content: space-between;
    padding-top: 51px;
  }
  .footer_wrapper_text .main_text .navigation {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
  .footer_wrapper_text .subtitle_text {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 11px;
  }
  .footer_wrapper_text .subtitle_text .navigation2 {
    margin-bottom: 12px;
  }
  .footer_wrapper_text .language {
    margin-top: 5px;
  }
  .footer_wrapper_icons {
    justify-content: center;
    margin-bottom: 19px;
  }
  .footer_wrapper_app {
    justify-content: space-between;
    padding: 0;
    margin-bottom: 29px;
  }
  .footer_wrapper_app img {
    width: 100%;
  }
}
